a {
    background: #000;
    border-radius: 6px;
    color: #ddd;
    margin: 12px;
    padding: 6px;
}

a:visited {
    color: #ddd;
}

a:hover {
    color: peru;
}

a:active {
    color: tomato;
}

body {
    background: #222;
    color: #ddd;
    font-size: 24px;
    margin: 12px;
}

h1 {
    margin: 12px;
}